body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', Arial, sans-serif;
    background-image: url('/Images/fordkep.png');
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
