@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html, body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url('/Images/Wallpaper8.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
footer {
    position: fixed;
    bottom: 0; 
    width: 100%;
    left: 0;
    z-index: 100;
}
.div-footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: black; 
    color: white; 
    padding: 10px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}