@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

a{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    padding: 1em 0 0.5em 0;
    position: relative;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    border-radius: 999px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.18);
    padding: 0.5em 1em;
    gap: 0;
    width: fit-content;
    margin: 2em auto;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.5em;
    height: 56px;
    font-weight: 700;
    font-size: 1.1em;
    color: #fff;
    text-shadow: 2px 2px 0 #000, 0 0 5px #000;
    text-decoration: none;
    background: none;
    border-radius: 999px;
    transition: background 0.15s, color 0.15s;
    white-space: nowrap;
   }

.nav-item:not(:last-child) {
    border-right: 1px;
}

.nav-item:hover {
    background: rgba(255,255,255,0.08);
    color: #fff;
}
.nav-item.active {
    background-color: #444 !important;
    color: #fff !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
   background-blend-mode: multiply;
}