footer {
    position: fixed;
    bottom: 0; 
    width: 100%;
    left: 0;
    z-index: 100;
}
.div-footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: black; 
    color: white; 
    padding: 10px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    gap: 40px;
    text-align: center;
}
@media screen and (max-width: 1400px) {
    .div-footer {
        flex-direction: column; 
        text-align: center;
        gap: 10px;
    }
    
}